In [15]:
import sqlite3

conn = sqlite3.connect('example.db')

c = conn.cursor()

# Create table
c.execute("""drop TABLE trans""")

c.execute("""CREATE TABLE trans
                    (종목코드 text, 
                    거래일시 text, 
                    종류 text, 
                    수량 real, 
                    가격 real)""")

conn.commit()
conn.close()

In [23]:
import sqlite3
import datetime

conn = sqlite3.connect('example.db')

c = conn.cursor()

# Insert a row of data

c.execute("INSERT INTO trans(종목코드, 거래일시, 종류, 수량, 가격) VALUES (?,?,?,?,?)" , ('106Q9', datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"), '매수', 2, 2000000 ) )


# Larger example that inserts many records at a time
# purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
#             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
#             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
#             ]
# c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)


# Save (commit) the changes
conn.commit()
conn.close()

In [32]:
import sqlite3

conn = sqlite3.connect('example.db')

c = conn.cursor()

symbol = '106Q9'
c.execute("SELECT 'aaa' as name,* FROM trans WHERE 종목코드 = '%s'" % symbol)
print(c.fetchone())

# Do this instead
t = ('106Q9',)
c.execute("SELECT 'bbb' as name,* FROM trans WHERE 종목코드=?", t)
r = c.fetchone()
print(type(r))

for row in c.execute("SELECT 'ccc' as name,* FROM trans ORDER BY 가격"):
    print(row[2])
    print(row)

conn.close()

('aaa', '106Q9', '2020-07-29 20:38:47', '매수', 2.0, 2000000.0)
<class 'tuple'>
2020-07-29 20:38:47
('ccc', '106Q9', '2020-07-29 20:38:47', '매수', 2.0, 2000000.0)